<form id="register_form" method="POST" action="">
    <div class="input-group mb-3">
        <input type="text" id="register-fullname" name="register-fullname" class="form-control" placeholder="Full Name" aria-label="Full Name" required />
    </div>
    <div class="input-group mb-3">
        <input type="text" id="register-username" name="register-username" class="form-control" placeholder="Username" aria-label="Username" required />
    </div>
    <div class="input-group mb-3">
        <input type="password" id="register-password" name="register-password" class="form-control" placeholder="Password" aria-label="Password" required />
    </div>
    <div class="input-group mb-3">
        <input type="password" id="register-confirm_password" name="register-confirm_password" class="form-control" placeholder="Confirm Password" aria-label="Confirm Password" required />
    </div>
    <div class="input-button mb-3">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>